body {
  background: linear-gradient(
    0deg,
    rgba(159, 253, 45, 0.46124387254901966) 26%,
    rgba(34, 195, 189, 0.36320465686274506) 47%
  );
  height: 100vh;
}

img {
  width: 490px;
  height: 300px;
  text-align: center;
}

.cat-descript {
  width: 740px;
}

.container {
  display: flex;
  margin-top: 28px;
}

.cat-photo {
  margin-right: 20px;
  border: 5px solid rgb(37, 113, 113);
  border-radius: 15px;
}
